<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Welcome to Student Home</h1>
    <p>You have successfully logged in as <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>!</p>
    <span th:text="${studentId}"></span>
    <form th:action="@{/logout}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>
</div>
</body>
</html>
