<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Curriculum</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="container">
    <h1>Add Curriculum</h1>
    <form th:action="@{/curriculum/save}" th:object="${curriculum}" method="post">
        <label for="class">Class</label>
        <select id="class" th:field="*{schoolClass}">
            <option th:each="class : ${classes}" th:value="${class.id}" th:text="${class.name}"></option>
        </select>

        <label for="subject">Subject</label>
        <select id="subject" th:field="*{schoolSubject}">
            <option th:each="subject : ${subjects}" th:value="${subject.id}" th:text="${subject.name}"></option>
        </select>

        <label for="teacher">Teacher</label>
        <select id="teacher" th:field="*{teacher}">
            <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                    th:text="${teacher.firstName + ' ' + teacher.lastName}"></option>
        </select>

        <label for="school">School</label>
        <select id="school" th:field="*{school}">
            <option th:each="school : ${schools}" th:value="${school.id}" th:text="${school.name}"></option>
        </select>

        <label for="semester">Semester</label>
        <select id="semester" th:field="*{semester}">
            <option th:each="semester : ${semesters}" th:value="${semester.id}" th:text="${semester.name}"></option>
        </select>

        <div class="mt-4 d-flex justify-content-between">
            <button type="submit" the="btn btn-success">Save</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Go Back</a>
        </div>
    </form>
</div>
</body>
</html>
